*{
        margin: 0;
        padding: 0;
        border: 0;
        box-sizing: border-box;
}

body{ background-color: lightblue;}
h1 { 
        color: orange; text-align: center;
    background-color: rgb(22, 78, 97); width: min 100%;
}


u {line-height: 50px;}
 
main {
        font-family: 'Arial', sans-serif;
        color:  black;
        margin: 30px;
    }

hr {border-style: dashed;
        margin: 30px;
        padding: 30px;
        border: 30px;
}
ul{ list-style-type: none;}

li  { display: inline;
        text-align: center;
        font-size: x-large;}

#logos li img {
        width: 2em;
        height: auto;
}
